<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="emp-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="cursor: pointer" (click)="onIdSort()">ID<span id="age">&#8597;</span></th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Description</th>
                                <th scope="col" style="cursor: pointer" (click)="onAgeSort()">Age<span id="age">&#8597;</span></th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employees | filter:filterSelected | paginate:{ itemsPerPage:selectedOption, currentPage:page }; let i = index">
                                <th scope="row">{{ emp.empID }}</th>
                                <td><span><img class="empImage" src="{{ emp.empImage }}"></span>{{ emp.empName }}</td>
                                <td>{{ emp.empDescription }}</td>
                                <td>{{ emp.empAge }}</td>
                                <td><button class="btn btn-primary">Edit</button></td>
                            </tr>
                        </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col offset-3">
                    <div>
                        <select class="my-select-box" [(ngModel)]="selectedOption">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        <label>Rows visible</label>
                    </div>
                </div>
                <div class="col-7 ml-auto">
                    <pagination-controls (pageChange)="page=$event" class="my-pagination"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>