<div class="container-fluid header">
    <div class="row">
        <div class="col-6">
            <h5><strong>Employee Age</strong></h5>
            <br>
            <div class="list-group list-group-horizontal">
                <a class="list-group-item list-group-item-action" (click)="onFilterSelect(1)" [ngClass]="{'active': lastFilter === 1}">{{ this.employeeService.counter1 }}<br>Below 20yrs</a>
                <a class="list-group-item list-group-item-action" (click)="onFilterSelect(2)" [ngClass]="{'active': lastFilter === 2}">{{ this.employeeService.counter2 }}<br>20 to 40yrs</a>
                <a class="list-group-item list-group-item-action" (click)="onFilterSelect(3)" [ngClass]="{'active': lastFilter === 3}">{{ this.employeeService.counter3 }}<br>40 to 60yrs</a>
                <a class="list-group-item list-group-item-action" (click)="onFilterSelect(4)" [ngClass]="{'active': lastFilter === 4}">{{ this.employeeService.counter4 }}<br>Above 60yrs</a>
            </div>
        </div>
    </div>
    <div class="filter-class" [ngClass]="{'active': lastFilter}">
        <div class="row">
            <div class="col-12">
                <p (click)="onFilterSelect(0)">{{ filterString[lastFilter-1] }}</p>
            </div>
        </div>
    </div>
</div>