<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <label>Employee Age</label>
            <br>
            <div class="list-group list-group-horizontal">
                <a class="list-group-item list-group-item-action" href="#">{{ counter1 }}<br>Below 20yrs</a>
                <a class="list-group-item list-group-item-action" href="#">{{ counter2 }}<br>20 to 40yrs</a>
                <a class="list-group-item list-group-item-action" href="#">{{ counter3 }}<br>40 to 60yrs</a>
                <a class="list-group-item list-group-item-action" href="#">{{ counter4 }}<br>Above 60yrs</a>
            </div>
        </div>
    </div>
</div>